<h1>Add New Song</h1>

<form action='/songs' method='post'>

<label for='name'>Song Name:</label>
<input type='text' name='song[name]' id='name'><br><br>

<h2>Select Artist:</h2>

<label for='artist'>Song artist:</label>
<input type='text' name='artist[name]' id='artist'><br><br>

<h2>Add Artist if Artist doesn't exist:</h2>

<h2>Select Genre:</h2>

<% @genres.each do |genre| %><br>
<input type='checkbox' name='genres[]' id='genre.name' value='<%=genre.id%>'>
<label for='genre.name'><%=genre.name%></label>
<%end%><br><br>

<input type='submit' id='Submit'>

</form>


